{{ define "main" }}

<article class="pa2">
  <header>
    <h1 class="f2 fw3">{{ .Title }}</h1>
    {{ if .Description }}
    <p>{{ .Description }}</p>
    {{ end }}
    {{ if ne .Type "page" }}
    {{ if and $.Site.Params.posts.showDate $.Site.Params.posts.showAuthor }}
    <p>
      {{ dateFormat $.Site.Params.posts.dateFormat .Date }} By {{ $.Params.author }}.
    </p>
    {{ else if $.Site.Params.posts.showDate }}
    <p>{{ dateFormat $.Site.Params.posts.dateFormat .Date }}</p>
    {{ else if $.Site.Params.posts.showAuthor }}
    <p>By {{ $.Params.author }}.</p>
    {{ end }}
    {{ end }}
  </header>

  {{ if ne .Type "page" }}
  <main>
    {{ .Content }}
  </main>
  {{ else }}
  <main style="margin-bottom: 3rem;">
    {{ .Content }}
  </main>
  {{ end }}

  {{ if ne .Type "page" }}
  <footer>
    {{ .Render "tags" }}
  </footer>
  {{ end }}
</article>
{{ end }}
