:root {
  --briskoda-green: #4b914d;
  --briskoda-grey: #474848;
  --skoda-green: #4ba82e;
}

.header__logo {
  max-height: 40px
}

.briskoda-green {
  color: var(--briskoda-green);
}

.b--briskoda-green {
  border-color: var(--briskoda-green);
}

.b--skoda-green {
  border-color: var(--skoda-green);
}

.bg-briskoda-grey {
  background-color: var(--briskoda-grey);
}

.bg-briskoda-green {
  background-color: var(--briskoda-green);
}

.bg-skoda-green {
  background-color: var(--skoda-green);
}
.hover-bg-briskoda-green:focus,.hover-bg-briskoda-green:hover {
  background-color: var(--skoda-green);
}

.sponsors-logo {
  height: 170px;
  width: auto;
}

body {
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
  font-family: 'Roboto', -apple-system, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
}

.super-f1 {
  font-size: 40px;
}

.super-f2 {
  font-size: 24px;
}

@media screen and (min-width:30em) {
  .super-f1-ns {
    font-size: 90px
  }

  .super-f2-ns {
    font-size: 34px;
  }
}
