<footer class="ph2 ph3-l pv3 pv4-l mt2 mt3-l bg-light-gray black">

  <div class="flex flex-row flex-start flex-wrap">
    <div class="col1 w-100 w-20-m w-20-l ph1">
      <h4 class="ma0 pa0">Forums</h4>
      <ul class="list pl0 ttu">
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/216-skoda-citigo/" class="link dim black">Citigo</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/166-skoda-fabia/" class="link dim black">Fabia</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/172-skoda-roomster/" class="link dim black">Roomster</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/224-skoda-rapid/" class="link dim black">Rapid</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/384-skoda-scala/" class="link dim black">Scala</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/169-skoda-octavia/" class="link dim black">Octavia</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/170-skoda-yeti/" class="link dim black">Yeti</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/365-skoda-karoq/" class="link dim black">Karoq</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/390-skoda-kamiq/" class="link dim black">Kamiq</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/340-skoda-kodiaq/" class="link dim black">Kodiaq</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/forums/forum/171-skoda-superb/" class="link dim black">Superb</a>
        </li>
      </ul>
    </div>
    <div class="col2 w-100 w-20-m w-20-l ph1">
      <h4 class="ma0 pa0">About BRISKODA</h4>
      <ul class="list pl0">
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/pages/about/" class="link dim black">About Us</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/pages/privacy-policy/" class="link dim black">Privacy</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/pages/cookie-policy/" class="link dim black">Cookies</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/pages/disclaimer/" class="link dim black">Disclaimer</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://www.briskoda.net/pages/terms/" class="link dim black">Terms</a>
        </li>
      </ul>

    </div>
    <div class="col3 w-100 w-20-m w-20-l ph1">
      <h4 class="ma0 pa0">Services</h4>
      <ul class="list pl0">
        <li class="mt2 mt1-ns">
          <a href="https://search.briskoda.net/" class="link dim black">Search</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://insurance.briskoda.net/" class="link dim black">Car Insurance</a>
        </li>
        <li class="mt2 mt1-ns">
          <a href="https://insurance.briskoda.net/#gap" class="link dim black">GAP Insurance</a>
        </li>
        <li class="mt1">
          <a href="https://insurance.briskoda.net/#breakdown" class="link dim black">Breakdown Cover</a>
        </li>
      </ul>
    </div>
    <div class="col4 w-100 w-40-m w-40-l ph1">
      <h4 class="ma0 pa0">Support BRISKODA</h4>
      <p>Available for everyone, wholly independent, funded by users</p>
      <a href="https://www.briskoda.net/forums/subscriptions/" class="grow no-underline br-pill ph3 pv2 mb2 dib white bg-briskoda-green">Support &rarr;</a>
    </div>
  </div>
  <div class="f6 fw3 tc">
    {{ if $.Site.Params.copy.text }}
    <p>{{ $.Site.Params.copy.text }}</p>
    {{ else }}
    <p>© {{ now.Format "2006" }} - {{ $.Site.Title }}</p>
    {{ end }}
  </div>
  {{ partial "quantcast.html" .}}
</footer>
