<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="googlebot" content="index, follow, noarchive" />
  <meta name="robots" content="index, follow" />
  <title>{{ $.Site.Title }} - {{ .Title }}</title>
  <link rel="icon" href="{{ $.Site.BaseURL }}/{{ $.Site.Params.favicon }}" />
  <meta name="description" content="{{ $.Site.Params.description }}" />
  {{ hugo.Generator }}
  {{ partial "styles.html" . }}
  {{ partial "fonts.html" . }}
  {{ partial "font-awesome.html" . }}
</head>
