<header>
  <div class="bt bw1 b--skoda-green"></div>
  <div>
    <nav class="bt b--briskoda-green bw3 bg-briskoda-grey pa1 flex flex-row flex-wrap items-center">
      <div class="w-100 tc tl-ns w-50-ns">
        <a href="{{ $.Site.BaseURL }}" class="link pointer" alt="Home">
          {{ if $.Site.Params.logo }}
          <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" class="header__logo" alt="{{ $.Site.Title }}">
          {{ else }}
          {{ $.Site.Title }}
          {{ end }}
        </a>
      </div>
      <div class="w-100 tc tr-ns w-50-ns">
        {{ $current := . }}
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="link white mr2 f5 fw3 {{ if $current.IsMenuCurrent "main" . }}active{{ end }}"
          alt="{{ .Name }}">
          {{ .Name }}
        </a>
        {{ end }}
      </div>
    </nav>
  </div>

</header>
