<main class="bg-light-gray pa2 tc" {{ if $.Params.images }}
  style="background-image: url('{{ $.Site.BaseURL }}images/{{ print (index $.Params.images 0) }}');" {{ end }}>
  <div {{ if $.Site.Params.hero.textColor }} style="color: {{ $.Site.Params.hero.textColor }};" {{ end }}>
    {{ .Content }}
  </div>
</main>
