<section class="pa2 w-100 tc w-50-l">
  <a name="{{ lower .Params.anchor }}"></a>
  <a href="{{.Params.sponsor_url}}?utm_source=briskoda" class="link pointer dim">
    <img src="{{ $.Site.BaseURL }}{{ .Params.sponsor_logo }}" alt="{{ .Title}}" class="sponsors-logo mt4">
  </a>
  <div class="ph4">
    {{ .Content }}
  </div>
</section>
